/* Import mixins */
@use '00_mixins' as *;

/*
GENERAL STYLES --------------------
*/

html, html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-family: 'Dia';
  line-height: 140%;
  background-color: $colour-burgundy;
  color: $colour-burgundy;
  text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
  opacity: 0;
  @include transition(opacity 300ms cubic-bezier(0.25,0.1,0.25,1));
  @include font-size(15px, 15px, 19px);
}

p, ul, ol {
  margin-bottom: get-rem-desktop(26.6);

  @media only screen and (max-width: 1440px) {
    margin-bottom: get-rem-tablet(21);
  }

  @media only screen and (max-width: 768px) {
    margin-bottom: get-rem-mobile(21);
  }

  &:last-child {
		margin-bottom: 0px !important;
	}
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

// ::selection {
//   background-color: $colour-cream;
//   color: $colour-burgundy;
// }

/*
DIV / IMG / VIDEO ------------------
*/

img, video, svg {
	display: block;
	width: 100%;
	height: auto;
}

#sanity img {
  width: 100% !important;
  height: 100% !important;
}

svg {
  overflow: visible !important;
}

/*
LAZYLOAD WRAPS ------------------
*/

.lazyload-wrap {
	position: relative;
	display: block;
	width: 100%; height: auto;
}

.sized-lazyload-wrap {
	position: relative;
	display: block;
	width: 100%; height: auto;
	overflow: hidden;
	
	.padding-element {
		position: relative;
		display: block;
		width: 100%; height: auto;
		z-index: 1;
	}
	
	img, video {
		z-index: 2;
	}
}

/*
LOADING OVERLAY(S) ------------------
*/

.image-wrap {
	position: relative;
	display: block;
  width: 100%;
	height: auto;
}

.loading-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: $colour-burgundy; 
	@include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
	will-change: opacity;
	
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

img.full-bleed-image,
video.full-bleed-video {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	top: 0%;
	left: 0%;
	object-fit: cover;
	object-position: 50% 50%;
	pointer-events: none;
}

/*
VIDEO CONTENT ------------------
*/

.video-placeholder {
	position: absolute;
	width: 100%;
  height: 100%;
	top: 0;
  left: 0;
	@extend %background-cover;
	z-index: 10;
	@include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
	will-change: opacity;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.fill-space-video-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
  z-index: 1;
	
	video {
		position: absolute;
		width: auto;
		height: auto;
		@extend %centered-element;
		z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
	}
	
	&.fill-width { 
		video {
			width: 100%;
			height: auto;
		}
	}
	
	&.fill-height { 
		video {
			width: auto;
			height: 100%;
		}
	}
}

.fill-space-image-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
  z-index: 1;
}