@use '00_mixins' as *;

/* COMPONENT -------------------- */

.site-footer {
  background-color: $colour-burgundy;
  color: $colour-cream;
  padding-top: get-rem-desktop(100);
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(230);
  overflow: hidden;

  @media only screen and (max-width: 1366px) {
    padding-top: get-rem-tablet(50);
    row-gap: get-rem-tablet(195);
  }
  
  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(90);
    row-gap: get-rem-mobile(86);

    .top-row {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(90);
    }
  }

  @media only screen and (max-width: 950px) and (orientation: landscape) {
    row-gap: get-rem-mobile(86);
  }

  .underline-link {
    margin-top: 0;
  }

  .column-1,
  .column-2 {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(25);

    @media only screen and (max-width: 1366px) {
      row-gap: get-rem-tablet(25);
    }

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(16);
    }

    .heading {
      margin-bottom: get-rem-desktop(10);

      @media only screen and (max-width: 1366px) {
        margin-bottom: get-rem-tablet(10);
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(6);
      }
    }
  }

  .column-3 {
    .input-wrap {
      position: relative;

      input {
        @include reset-input;
        border-bottom: 1px solid rgba($colour-cream, 0.5);
        padding-bottom: get-rem-desktop(10);
        margin-bottom: get-rem-desktop(16);
        width: 100%;
        color: $colour-cream;

        @media only screen and (max-width: 1366px) {
          padding-bottom: get-rem-tablet(13);
          margin-bottom: get-rem-tablet(12);
        }

        @media only screen and (max-width: 768px) {
          padding-bottom: get-rem-mobile(5);
          margin-bottom: get-rem-mobile(25);
        }
  
        &::placeholder {
          color: $colour-cream;
          opacity: 1;
        }
        
        &::-webkit-input-placeholder {
          color: $colour-cream;
          opacity: 1;
        }
        
        &::-moz-placeholder {
          color: $colour-cream;
          opacity: 1;
        }
        
        &:-ms-input-placeholder {
          color: $colour-cream;
          opacity: 1;
        }
      }
  
      svg {
        width: 6px;
        fill: none;
        stroke: $colour-cream;
        position: absolute;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));

        @media only screen and (max-width: 1366px) {
          width: 7px;
        }

        // @media only screen and (max-width: 768px) {
        //   width: 7px;
        // }
      }
    }

    p {
      @media only screen and (max-width: 768px) {
        opacity: 0.5;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .logo svg {
    fill: $colour-cream;
    margin-bottom: get-rem-desktop(-16.9);

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(-5);
    }
  }

  @media only screen and (max-width: 950px) and (orientation: landscape) {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }
  }
}