@use '00_mixins' as *;

/* COMPONENT -------------------- */

.site-footer {
  background-color: $colour-burgundy;
  color: $colour-cream;
  padding-top: get-rem-desktop(100);
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(230);
  overflow: hidden;

  @media only screen and (max-width: 1440px) {
    padding-top: get-rem-tablet(50);
    row-gap: get-rem-tablet(195);
  }
  
  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(90);
    row-gap: get-rem-mobile(86);

    .top-row {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(90);
    }
  }

  @media only screen and (max-width: 950px) and (orientation: landscape) {
    row-gap: get-rem-mobile(86);
  }

  .underline-link {
    margin-top: 0;
  }

  .column-1,
  .column-2 {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(25);

    @media only screen and (max-width: 1440px) {
      row-gap: get-rem-tablet(25);
    }

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(16);
    }

    .heading {
      margin-bottom: get-rem-desktop(10);

      @media only screen and (max-width: 1440px) {
        margin-bottom: get-rem-tablet(10);
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(6);
      }
    }
  }

  .column-1 {
    @media only screen and (max-width: 768px) {
      order: 2;
    }
  }

  .column-2 {
    @media only screen and (max-width: 768px) {
      order: 3;
    }
  }

  .column-3 {
    @media only screen and (max-width: 768px) {
      order: 1;
    }

    .newsletter-text {
      margin-bottom: get-rem-desktop(16);
    }

    .input-wrap {
      position: relative;
      border-bottom: 1px solid rgba($colour-cream, 0.5);
      @include flex;
      margin-bottom: get-rem-desktop(16);

      @media only screen and (max-width: 1440px) {
        margin-bottom: get-rem-tablet(12);
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(25);
      }

      input {
        @include reset-input;
        padding: get-rem-desktop(10) 0;
        flex: 1;
        min-width: 0;
        color: $colour-cream;
        margin-top: get-rem-desktop(-10);

        @media only screen and (max-width: 1440px) {
          padding: get-rem-tablet(13) 0;
          margin-top: get-rem-tablet(-13);
        }

        @media only screen and (max-width: 768px) {
          padding: get-rem-mobile(5) 0;
          margin-top: get-rem-mobile(-5);
        }
  
        &::placeholder {
          color: $colour-cream;
          opacity: 1;
        }
        
        &::-webkit-input-placeholder {
          color: $colour-cream;
          opacity: 1;
        }
        
        &::-moz-placeholder {
          color: $colour-cream;
          opacity: 1;
        }
        
        &:-ms-input-placeholder {
          color: $colour-cream;
          opacity: 1;
        }
      }

      button {
        padding: 0 get-rem-desktop(10);
        margin-right: get-rem-desktop(-10);

        svg {
          width: 7px;
          fill: none;
          stroke: $colour-cream;
        }
      }      
    }

    p {
      @media only screen and (max-width: 768px) {
        opacity: 0.5;
        max-width: get-rem-mobile(300);
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .logo svg {
    fill: $colour-cream;
    margin-bottom: get-rem-desktop(-16.9);

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(-5);
    }
  }

  @media only screen and (max-width: 950px) and (orientation: landscape) {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }
  }
}