@use '00_mixins' as *;
@use '00_base' as *;

// UTILITY CLASSES ------------------

.h-pad {
  padding-left: get-rem-desktop(50);
  padding-right: get-rem-desktop(50);

  @media only screen and (max-width: 1366px) {
    padding-left: get-rem-tablet(30);
    padding-right: get-rem-tablet(30);
  }

  @media only screen and (max-width: 768px) {
    padding-left: get-rem-mobile(15);
    padding-right: get-rem-mobile(15);
  }
}

.opacity-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colour-black;
}

.underline-link {
  @include flex;
  @include align-items(center);
  column-gap: get-rem-desktop(10);
  margin-top: get-rem-desktop(22);

  @media only screen and (max-width: 1366px) {
    margin-top: get-rem-tablet(18);
  }

  @media only screen and (max-width: 768px) {
    margin-top: get-rem-mobile(15);
  }

  a {
    display: block;
    width: fit-content;
    position: relative;

    &:after {
      content: "";
      transform-origin: 100%;
      background: $colour-burgundy;
      height: 1px;
      @include transition(transform .83s cubic-bezier(.33, 0, .13, 1));
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      transform: scaleX(0);
    }

    &:hover {
      &:after {
        transform-origin: 0;
        transform: scaleX(1);
      }
    }
  }

  svg {
    width: get-rem-desktop(5);
    height: get-rem-desktop(10);
    fill: none;
    stroke: $colour-burgundy;
    stroke-width: 2px;
  }

  &.cream {
    a {
      color: $colour-cream;

      &:after {
        background: $colour-cream;
      }
    }

    svg {
      stroke: $colour-cream;
    }
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

// REUSABLE COMPONENTS ------------------

.video-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include flex;
  @include justify-content(flex-end);
  @include align-items(flex-end);
  padding: get-rem-desktop(50);
  column-gap: get-rem-desktop(30);

  @media only screen and (max-width: 1366px) {
    padding: get-rem-tablet(50);
    column-gap: get-rem-tablet(25);
  }

  @media only screen and (max-width: 768px) {
    padding: get-rem-mobile(25);
    column-gap: get-rem-mobile(25);
  }

  svg {
    height: get-rem-desktop(20);
    fill: none;
    stroke: $colour-cream;
    stroke-width: 1px;

    @media only screen and (max-width: 1366px) {
      height: get-rem-tablet(22);
    }

    @media only screen and (max-width: 768px) {
      height: get-rem-mobile(22);
    }
  }

  .button {
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  .play-pause-button {
    position: relative;

    .play {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .full-screen-button {
    @media only screen and (max-width: 1366px) {
      display: none;
    }
  }

  .volume-button {
    position: relative;
    display: none;
    
    @media only screen and (max-width: 1366px) {
      display: block;
    }

    .volume {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.page-type-homepage {
  .video-controls {
    opacity: 0;

    &.fade-in {
      @include animation(finalPhaseFadeIn 1s cubic-bezier(0.25,0.1,0.25,1) forwards);
    }
  }
}

.hero-media-block.layout-2,
.hero-media-block.layout-3 {
  background-color: $colour-burgundy;
  padding-top: get-rem-desktop(255);
  padding-bottom: get-rem-desktop(130);

  @media only screen and (max-width: 1366px) {
    padding-top: get-rem-tablet(188);
    padding-bottom: get-rem-tablet(88);
  }

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(158);
    padding-bottom: get-rem-mobile(62);
  }

  .text-wrap {
    max-width: get-rem-desktop(800);
    text-align: center;

    @media only screen and (max-width: 1366px) {
      max-width: get-rem-tablet(590);
    }

    @media only screen and (max-width: 768px) {
      text-align: left;
    }
  }

  .underline-link {
    margin-top: 0;
    margin-bottom: get-rem-desktop(15);

    @media only screen and (max-width: 1366px) {
      margin-bottom: get-rem-tablet(8);
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(8);
    }
  }
}

.hero-media-block.layout-2 {
  .inner-wrap {
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
    row-gap: get-rem-desktop(18);

    @media only screen and (max-width: 1366px) {
      row-gap: get-rem-tablet(10);
    }

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(25);
      @include align-items(flex-start);
    }
  }
}

.staggered-images-block {
  padding-top: get-rem-desktop(295);
  padding-bottom: get-rem-desktop(150);
  overflow: hidden;

  @media only screen and (max-width: 1366px) {
    padding-top: get-rem-tablet(195);
    padding-bottom: get-rem-tablet(100);
  }

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(145);
    padding-bottom: get-rem-mobile(75);
  }

  .text-wrap {
    max-width: get-rem-desktop(846);

    @media only screen and (max-width: 1366px) {
      max-width: get-rem-tablet(613);
    }

    .heading {
      margin-bottom: get-rem-desktop(20);

      @media only screen and (max-width: 1366px) {
        margin-bottom: get-rem-tablet(10);
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(10);
      }
    }
  }

  .media-wrap {
    position: relative;
  }
  
  .media-caption {
    position: absolute;
    bottom: get-rem-desktop(-36);
    left: 0;

    @media only screen and (max-width: 1366px) {
      bottom: get-rem-tablet(-28);
    }

    @media only screen and (max-width: 768px) {
      bottom: get-rem-mobile(-26);
    }
  }

  &.layout-1 {
    .row-1 {
      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(62);
      }
    }

    .row-2 {
      .media-wrap {
        margin-right: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));

        @media only screen and (max-width: 1366px) {
          margin-right: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        @media only screen and (max-width: 768px) {
          margin-right: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }
    }

    .row-3 {
      margin-top: -8vw;

      @media only screen and (max-width: 1366px) {
        margin-top: -7.5vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(75);
      }

      .media-wrap {
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));

        @media only screen and (max-width: 1366px) {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }
    }

    .row-4 {
      margin-top: -18.5vw;

      @media only screen and (max-width: 1366px) {
        margin-top: -19vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(75);
      }
    }

    .media-1 {
      aspect-ratio: 16 / 9;
    }

    .media-2 {
      aspect-ratio: 3 / 4;
    }

    .media-3 {
      aspect-ratio: 1 / 1;
    }
  }

  &.layout-2 {
    .row-2 {
      display: none;

      @media only screen and (max-width: 768px) {
        display: grid;
        margin-top: get-rem-mobile(62);
      }
    }

    .row-3 {
      margin-top: -8vw;

      @media only screen and (max-width: 1366px) {
        margin-top: -7.5vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(-75);
      }

      .media-wrap {
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));

        @media only screen and (max-width: 1366px) {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }
    }

    .row-4 {
      margin-top: -26vw;

      @media only screen and (max-width: 1366px) {
        margin-top: -26.5vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: 0;
      }

      .media-wrap {
        margin-right: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));

        @media only screen and (max-width: 1366px) {
          margin-right: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(34);
          margin-right: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15) - get-rem-mobile(34));
        }
      }

      .media-caption {
        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(34);
        }
      }
    }

    .media-1 {
      aspect-ratio: 3 / 4;
    }

    .media-2 {
      aspect-ratio: 1 / 1;
    }

    .media-3 {
      aspect-ratio: 3 / 4;
    }
  }

  &.layout-3 {
    .text-wrap {
      @media only screen and (max-width: 1366px) {
        max-width: get-rem-tablet(600);
      }
    }

    .row-2 {
      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(62);
      }

      .media-wrap {
        margin-right: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));

        @media only screen and (max-width: 1366px) {
          margin-right: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        @media only screen and (max-width: 768px) {
          margin-right: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }
    }

    .row-3 {
      margin-top: -8vw;

      @media only screen and (max-width: 1366px) {
        margin-top: -7.5vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(75);
      }

      .media-wrap {
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));

        @media only screen and (max-width: 1366px) {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }
    }

    .row-4 {
      margin-top: -7.5vw;

      @media only screen and (max-width: 1366px) {
        margin-top: -9vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: -14vw;
      }

      .media-wrap,
      .media-caption {
        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(29);
        }
      }
    }

    .media-1 {
      aspect-ratio: 4 / 3;
    }

    .media-2 {
      aspect-ratio: 16 / 9;
    }

    .media-3 {
      aspect-ratio: 3 / 4;
    }
  }
}

.full-bleed-media-block {
  @include aspect-ratio(16, 9);

  @media only screen and (max-width: 768px) {
    @include aspect-ratio(1, 1);
  }

  .row-3 {
    .row-3-section-1 {
      grid-column: span 5;
    }
  }

  .image-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.large-media-text-block,
.small-media-text-block,
.image-masonry-block,
.stacked-media-text-block,
.image-carousel-block {
  padding-top: get-rem-desktop(150);
  padding-bottom: get-rem-desktop(150);

  @media only screen and (max-width: 1366px) {
    padding-top: get-rem-tablet(100);
    padding-bottom: get-rem-tablet(100);
  }

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(75);
    padding-bottom: get-rem-mobile(50);
  }

  .text-wrap {
    max-width: get-rem-desktop(597);

    @media only screen and (min-width: 769px) {
      margin-top: -0.2em;
    }

    @media only screen and (max-width: 768px) {
      max-width: get-rem-mobile(335);
    }

    .heading {
      margin-bottom: get-rem-desktop(10);

      @media only screen and (max-width: 1366px) {
        margin-bottom: get-rem-tablet(10);
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(8);
        max-width: get-rem-mobile(285);
      }
    }
  }
}

.large-media-text-block,
.small-media-text-block {
  .media-wrap {
    position: relative;
    aspect-ratio: 4 / 3;
  }
}

.large-media-text-block {
  .inner-wrap {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(45);
    }
  }
}

.small-media-text-block {
  @media only screen and (max-width: 768px) {
    padding-bottom: get-rem-mobile(75);
  }

  .mobile {
    @media only screen and (max-width: 768px) {
      margin-top: get-rem-mobile(50);
    }
  }

  .media-wrap {
    aspect-ratio: 1 / 1;

    @media only screen and (min-width: 769px) {
      max-width: get-rem-desktop(377);
      margin-left: auto;
      margin-right: get-rem-desktop(50);

      @media only screen and (max-width: 1366px) {
        max-width: get-rem-tablet(250);
        margin-right: 0;
      }
    }
  }
}

.stacked-media-text-block {
  background-color: transparent;

  .media-wrap {
    position: relative;
    aspect-ratio: 16 / 9;
    margin-top: get-rem-desktop(140);

    @media only screen and (max-width: 1366px) {
      margin-top: get-rem-tablet(95);
    }

    @media only screen and (max-width: 768px) {
      margin-top: get-rem-mobile(70);
    }
  }

  .video-controls {
    opacity: 1;

    @media only screen and (max-width: 1366px) {
      bottom: get-rem-tablet(20);
      right: get-rem-tablet(20);
    }

    @media only screen and (max-width: 768px) {
      bottom: get-rem-mobile(10);
      right: get-rem-mobile(10);
    }
  }
}

.image-masonry-block {
  background-color: $colour-cream;

  .heading {
    @media only screen and (max-width: 1366px) {
      max-width: get-rem-tablet(260);
    }
  }
  
  .media-wrap {
    position: relative;
  }

  &.layout-1 {
    background-color: transparent;

    .media-1 {
      margin-left: get-rem-desktop(-50);
      width: calc(100% + get-rem-desktop(50));
      margin-top: 10vw;
      @include aspect-ratio(3, 4);
  
      @media only screen and (max-width: 1366px) {
        margin-left: get-rem-tablet(-30);
        width: calc(100% + get-rem-tablet(30));
        margin-top: 11vw;
      }
  
      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(50);
        margin-left: get-rem-mobile(-15);
        width: calc(100% + get-rem-mobile(15));
        @include aspect-ratio(1, 1);
      }
    }
  
    .media-2 {
      margin-right: get-rem-desktop(-50);
      width: calc(100% + get-rem-desktop(50));
      @include aspect-ratio(16, 9);
  
      @media only screen and (max-width: 1366px) {
        margin-right: get-rem-tablet(-30);
        width: calc(100% + get-rem-tablet(30));
      }
  
      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(45);
        margin-right: get-rem-mobile(-15);
        width: calc(100% + get-rem-mobile(15));
      }
    }
  }

  &.layout-2 {
    padding-top: get-rem-desktop(300);
    padding-bottom: get-rem-desktop(150);

    @media only screen and (max-width: 1366px) {
      padding-top: get-rem-tablet(200);
      padding-bottom: get-rem-tablet(100);
    }

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(145);
      padding-bottom: get-rem-mobile(75);
    }

    .text-wrap {
      max-width: get-rem-desktop(900);

      .heading {
        margin-bottom: get-rem-desktop(20);
  
        @media only screen and (max-width: 1366px) {
          margin-bottom: get-rem-tablet(10);
        }
  
        @media only screen and (max-width: 768px) {
          margin-bottom: get-rem-mobile(10);
        }
      }
    }

    .media-1 {
      margin-right: get-rem-desktop(-50);
      width: calc(100% + get-rem-desktop(50));
      @include aspect-ratio(1, 1);
  
      @media only screen and (max-width: 1366px) {
        margin-right: get-rem-tablet(-30);
        width: calc(100% + get-rem-tablet(30));
      }
  
      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(65);
        margin-right: get-rem-mobile(-15);
        width: calc(100% + get-rem-mobile(15));
        @include aspect-ratio(3, 4);
      }
    }
  
    .media-2 {
      @include aspect-ratio(16, 9);
      margin-top: -7.5vw;
  
      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(75);
        margin-left: get-rem-mobile(-15);
        width: calc(100% + get-rem-mobile(15));
        @include aspect-ratio(3, 2);
      }
    }
  }

  &.layout-3 {
    padding-top: get-rem-desktop(148);
    padding-bottom: get-rem-desktop(150);

    @media only screen and (max-width: 1366px) {
      padding-top: get-rem-tablet(200);
      padding-bottom: get-rem-tablet(100);
    }

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(160);
      padding-bottom: get-rem-mobile(75);
    }

    .text-wrap {
      max-width: get-rem-desktop(900);

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(62);
      }

      .heading {
        margin-bottom: get-rem-desktop(20);

        @media only screen and (max-width: 1366px) {
          margin-bottom: get-rem-tablet(10);
        }

        @media only screen and (max-width: 768px) {
          margin-bottom: get-rem-mobile(10);
        }
      }
    }

    .media-1 {
      @include aspect-ratio(1, 1);
      margin-top: get-rem-desktop(178);

      @media only screen and (max-width: 1366px) {
        margin-top: get-rem-tablet(125);
      }

      @media only screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    .media-2 {
      @include aspect-ratio(3, 4);
      margin-top: -31.4vw;
      margin-left: get-rem-desktop(-50);
      width: calc(100% + get-rem-desktop(50));

      @media only screen and (max-width: 1366px) {
        margin-top: -32.6vw;
      }

      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(124);
        margin-left: get-rem-mobile(-15);
        margin-right: get-rem-mobile(30);
        width: calc(100% + get-rem-mobile(15) - get-rem-mobile(30));
      }
    }
  }
}

body.page-type-homepage {
  .image-masonry-block {
    h2 {
      max-width: get-rem-desktop(400);
    }
  }
}

.cta-banner-block {
  background-color: $colour-light-purple;

  &:hover {
    h1 {
      font-family: 'Millionaire-Script';
      @include transform(translateY(-0.19em));
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }

  .inner-wrap {
    padding-top: get-rem-desktop(42);
    padding-bottom: get-rem-desktop(34);
    @include flex;
    @include justify-content(flex-end);
    @include align-items(center);
    column-gap: get-rem-desktop(30);

    @media only screen and (max-width: 1366px) {
      padding-top: get-rem-tablet(36);
      padding-bottom: get-rem-tablet(35);
      column-gap: get-rem-tablet(20);
    }

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(25);
      padding-bottom: get-rem-mobile(18);
      column-gap: get-rem-mobile(17.5);
    }

    svg {
      width: get-rem-desktop(12.5);
      fill: none;
      stroke: $colour-burgundy;
      stroke-width: 2px;
      aspect-ratio: 1 / 2;

      @media only screen and (max-width: 1366px) {
        width: get-rem-tablet(9);
      }

      @media only screen and (max-width: 768px) {
        width: get-rem-mobile(7.5);
      }
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.text-with-artefacts {
  .text-block {
    height: 100dvh;
    @include flex;
    @include justify-content(center);
    @include align-items(center);

    @media only screen and (max-width: 768px) {
      height: unset;
      padding-top: get-rem-mobile(195);
      padding-bottom: get-rem-mobile(195);
    }

    .text-wrap {
      text-align: center;
      color: $colour-cream;
    }
  }

  .artefact {
    &.has-content .artefact-image {
      cursor: pointer;
    }

    &.visible {
      .artefact-overlay,
      .artefact-content {
        pointer-events: all;
        opacity: 1;
      }
    }


    @media only screen and (max-width: 1366px) {
      &:not(.has-content) {
        .caption svg {
          display: none !important;
        }
      }
    }

    .artefact-image {
      .media-wrap {
        margin-bottom: get-rem-desktop(12);
        box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.30);

        @media only screen and (max-width: 1366px) {
          margin-bottom: get-rem-tablet(12);
        }
      }

      .caption {
        @media only screen and (max-width: 1366px) {
          @include flex;
          @include justify-content(space-between);
          column-gap: get-rem-tablet(20);
        }

        .caption-font {
          color: $colour-cream;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.30);
        }

        svg {
          stroke: $colour-cream;
          display: none;

          @media only screen and (max-width: 1366px) {
            display: block;
            width: get-rem-tablet(11);
            height: get-rem-tablet(11);
            margin-top: 0.25em;
          }
        }
      }
    }

    .artefact-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 998;
      pointer-events: none;
      will-change: opacity;
      opacity: 0;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
    }

    .artefact-content {
      background-color: $colour-burgundy;
      color: $colour-cream;
      position: fixed;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      padding-top: get-rem-desktop(55);
      padding-bottom: get-rem-desktop(50);
      padding-left: get-rem-desktop(50);
      padding-right: get-rem-desktop(50);
      z-index: 999;
      pointer-events: none;
      will-change: opacity;
      opacity: 0;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));

      @media only screen and (max-width: 1366px) {
        padding: get-rem-tablet(40);
      }

      @media only screen and (max-width: 768px) {
        padding: get-rem-mobile(28);
        top: unset;
        bottom: get-rem-mobile(23);
        @include transform(translate(-50%, 0));
      }

      .inner-wrap {
        @include flex;
        @include align-items(center);
        column-gap: get-rem-desktop(50);
        height: 100%;

        @media only screen and (max-width: 1366px) {
          column-gap: get-rem-tablet(40);
        }

        @media only screen and (max-width: 768px) {
          @include flex-direction(column);
          row-gap: get-rem-mobile(39);
        }

        .media-wrap {
          width: 100%;
          
          img {
            box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.30);
          }
        }

        .text-wrap {
          @include flex;
          @include flex-direction(column);
          @include justify-content(space-between);
          row-gap: get-rem-desktop(60);
          width: 100%;
          height: 100%;

          .artefact-description {
            max-height: get-rem-desktop(235);
            overflow-y: auto;

            @media only screen and (max-width: 1366px) {
              max-height: get-rem-tablet(167);
            }

            @media only screen and (max-width: 768px) {
              max-height: get-rem-mobile(134);
            }
          }
        }

        .title-wrap {
          @include flex;
          @include justify-content(space-between);
          @include align-items(flex-start);
          column-gap: get-rem-desktop(50);

          @media only screen and (max-width: 1366px) {
            column-gap: get-rem-tablet(40);
          }

          @media only screen and (max-width: 768px) {
            column-gap: get-rem-mobile(28);
          }

          .artefact-title {
            max-width: get-rem-desktop(360);
            margin-top: -0.1em;
          }

          svg {
            width: get-rem-desktop(30);
            cursor: pointer;

            @media only screen and (max-width: 1366px) {
              width: get-rem-tablet(20);
            }

            @media only screen and (max-width: 768px) {
              width: get-rem-mobile(20);
            }
          }
        }
      }
    }

    &.portrait,
    &.square {
      .artefact-content {
        height: 31vw;
        width: 59vw;

        @media only screen and (max-width: 768px) {
          height: fit-content;
          width: calc(100% - get-rem-mobile(46));
        }

        .media-wrap {
          max-width: get-rem-desktop(420);
          height: 100%;
          @include flex;
          @include justify-content(center);
          @include align-items(center);

          @media only screen and (max-width: 1366px) {
            max-width: get-rem-tablet(420);
          }

          @media only screen and (max-width: 768px) {
            max-width: 70vw;
          }
        }
      }
    }

    &.portrait {
      .artefact-content {
        .media-wrap {
          img {
            object-fit: contain;
            height: 100%;
            width: fit-content;

            @media only screen and (max-width: 768px) {
              max-height: 70vw;
            }
          }
        }
      }
    }

    &.square {
      .artefact-content {
        .media-wrap {
          img {
            object-fit: contain;
            width: fit-content;
          }
        }
      }
    }

    &.landscape {
      .artefact-content {
        width: 63.5vw;
        height: 26vw;

        @media only screen and (max-width: 768px) {
          height: fit-content;
          width: calc(100% - get-rem-mobile(46));
        }

        .media-wrap {
          height: 100%;
          @include flex;
          @include justify-content(center);
          @include align-items(center);
        }

        .text-wrap {
          max-width: get-rem-desktop(450);

          @media only screen and (max-width: 1366px) {
            max-width: get-rem-tablet(450);
          }
        }
      }
    }
  }

  .layout-1 {
    .artefacts-row-1 {
      @media only screen and (max-width: 768px) {
        @include flex;
        @include flex-direction(column-reverse);
      }

      .artefact-1 {
        @include flex;
        @include justify-content(center);
        padding-top: get-rem-desktop(175);

        .artefact-content {
          .media-wrap {
            img {
              border-radius: 50%;
            }
          }
        }

        @media only screen and (max-width: 1366px) {
          padding-top: get-rem-tablet(137);
        }

        @media only screen and (max-width: 768px) {
          display: unset;
          padding-top: get-rem-mobile(160);
          margin-left: get-rem-mobile(21);
        }

        .artefact-image {
          max-width: get-rem-desktop(276);

          @media only screen and (max-width: 1366px) {
            max-width: get-rem-tablet(214);
          }

          @media only screen and (max-width: 768px) {
            max-width: get-rem-mobile(188);
          }

          .media-wrap {
            border-radius: 50%;
          }
        }

        .caption {
          text-align: center;

          @media only screen and (max-width: 1366px) {
            text-align: left;
          }
        }
      }

      .artefact-2 {
        margin-left: auto;

        @media only screen and (max-width: 768px) {
          margin-left: get-rem-mobile(181);
        }

        .artefact-image {
          max-width: get-rem-desktop(361);

          @media only screen and (max-width: 1366px) {
            max-width: get-rem-tablet(272);
          }

          @media only screen and (max-width: 768px) {
            max-width: get-rem-mobile(181);
          }
        }
      }
    }

    .artefacts-row-2 {
      padding-top: get-rem-desktop(480);
      padding-bottom: get-rem-desktop(12);

      @media only screen and (max-width: 1366px) {
        padding-top: get-rem-tablet(436);
        padding-bottom: get-rem-tablet(12);
      }

      @media only screen and (max-width: 768px) {
        padding-top: get-rem-mobile(114);
        padding-bottom: get-rem-mobile(115);
      }

      .artefact-3 {
        .artefact-image {
          @media only screen and (max-width: 768px) {
            max-width: get-rem-mobile(301);
          }

          .media-wrap {
            margin-left: get-rem-desktop(-50);
            width: calc(100% + get-rem-desktop(50));

            @media only screen and (max-width: 1366px) {
              margin-left: get-rem-tablet(-30);
              width: calc(100% + get-rem-tablet(30));
            }

            @media only screen and (max-width: 768px) {
              margin-left: get-rem-mobile(-15);
              width: calc(100% + get-rem-mobile(15));
            }
          }
        }
      }

      .artefact-4 {
        padding-top: get-rem-desktop(314);

        @media only screen and (max-width: 1366px) {
          padding-top: get-rem-tablet(317);
        }

        @media only screen and (max-width: 768px) {
          max-width: get-rem-mobile(288);
          padding-top: get-rem-mobile(114);
          margin-left: auto;
        }
      }
    }
  }

  .layout-2 {
    .artefacts-row-1 {
      @media only screen and (max-width: 768px) {
        @include flex;
        @include flex-direction(column-reverse);
      }

      .artefact-1 {
        padding-top: get-rem-desktop(336);

        @media only screen and (max-width: 1366px) {
          padding-top: get-rem-tablet(444);
        }

        @media only screen and (max-width: 768px) {
          padding-top: get-rem-mobile(216);
          max-width: get-rem-mobile(287);
        }
      }

      .artefact-2 {
        max-width: get-rem-desktop(186);
        margin-left: auto;
        
        @media only screen and (max-width: 1366px) {
          max-width: unset;
        }

        @media only screen and (max-width: 768px) {
          max-width: get-rem-mobile(208);
          margin-left: auto;
        }
      }
    }

    .artefacts-row-2 {
      padding-top: get-rem-desktop(18);
      padding-bottom: get-rem-desktop(90);

      @media only screen and (max-width: 1366px) {
        padding-top: get-rem-tablet(130);
        padding-bottom: get-rem-tablet(205);
      }

      @media only screen and (max-width: 768px) {
        padding-top: get-rem-mobile(274);
        padding-bottom: get-rem-mobile(300);
      }

      .artefact-3 {
        .artefact-image {
          .media-wrap {
            margin-right: get-rem-desktop(-50);
            width: calc(100% + get-rem-desktop(50));

            @media only screen and (max-width: 1366px) {
              margin-right: get-rem-tablet(-30);
              width: calc(100% + get-rem-tablet(30));
            }

            @media only screen and (max-width: 768px) {
              margin-right: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .layout-3 {
    .artefacts-row-1 {
      @media only screen and (max-width: 768px) {
        @include flex;
        @include flex-direction(column-reverse);
      }

      .artefact-1 {
        margin-top: get-rem-desktop(268);

        @media only screen and (max-width: 1366px) {
          margin-top: get-rem-tablet(334);
        }

        @media only screen and (max-width: 768px) {
          margin-top: get-rem-mobile(170);
          width: get-rem-mobile(291);

          .artefact-image .media-wrap {
            margin-left: get-rem-mobile(-15);
            width: calc(100% + get-rem-mobile(15));
          }
        }
      }

      .artefact-2 {
        @media only screen and (max-width: 768px) {
          width: get-rem-mobile(288);
          margin-left: auto;
        }

        .artefact-image {
          .media-wrap {
            margin-right: get-rem-desktop(-50);
            width: calc(100% + get-rem-desktop(50));

            @media only screen and (max-width: 1366px) {
              margin-right: get-rem-tablet(-30);
              width: calc(100% + get-rem-tablet(30));
            }

            @media only screen and (max-width: 768px) {
              margin-right: 0;
              width: 100%;
            }
          }
        }
      }
    }

    .artefacts-row-2 {
      margin-top: get-rem-desktop(390);

      @media only screen and (max-width: 1366px) {
        margin-top: get-rem-tablet(395);
      }

      @media only screen and (max-width: 768px) {
        margin-top: get-rem-mobile(160);
        @include flex;
        @include flex-direction(column-reverse);
      }

      .artefact-3 {
        margin-top: get-rem-desktop(161);
        margin-right: get-rem-desktop(50);

        @media only screen and (max-width: 1366px) {
          margin-top: get-rem-tablet(201);
          margin-right: get-rem-tablet(30);
        }

        @media only screen and (max-width: 768px) {
          margin-top: get-rem-mobile(180);
          width: get-rem-mobile(291);
        }

        .artefact-image {
          .media-wrap {
            margin-left: get-rem-desktop(-50);
            width: calc(100% + get-rem-desktop(50));

            @media only screen and (max-width: 1366px) {
              margin-left: get-rem-tablet(-30);
              width: calc(100% + get-rem-tablet(30));
            }

            @media only screen and (max-width: 768px) {
              margin-left: get-rem-mobile(-15);
              width: calc(100% + get-rem-mobile(15));
            }
          }
        }
      }

      .artefact-4 {
        @media only screen and (max-width: 768px) {
          width: get-rem-mobile(214);
          margin-left: auto;
        }

        .artefact-image .media-wrap {
          @media only screen and (max-width: 1366px) {
            margin-right: get-rem-tablet(-30);
            width: calc(100% + get-rem-tablet(30));
          }

          @media only screen and (max-width: 768px) {
            margin-right: 0;
            width: 100%;
          }
        }
      }
    }

    .carousel-image {
      @include flex;
      @include justify-content(center);
      padding-top: get-rem-desktop(90);
      padding-bottom: get-rem-desktop(50);

      @media only screen and (max-width: 1366px) {
        padding-top: get-rem-tablet(205);
        padding-bottom: get-rem-tablet(50);
      }

      @media only screen and (max-width: 768px) {
        padding-top: get-rem-mobile(300);
        padding-bottom: get-rem-mobile(56);
      }

      img {
        width: get-rem-desktop(121);

        @media only screen and (max-width: 1366px) {
          width: get-rem-tablet(121);
        }

        @media only screen and (max-width: 768px) {
          width: get-rem-mobile(81);
        }
      }
    }
  }
}