@use '00_mixins' as *;
@use '00_base' as *;

.page-home {

  .home-hero-media-block {
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      opacity: 0;
      transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);
  
      svg {
        width: 44vw;
        fill: $colour-cream;

        @media only screen and (max-width: 1366px) {
          width: get-rem-tablet(600);
        }

        @media only screen and (max-width: 768px) {
          width: get-rem-mobile(300);
        }
      }
    }

    .symbol {
      position: fixed;
      width: 9vw;
      height: 10vw;
      left: 50%;
      margin-left: -4.5vw;
      top: 50%;
      margin-top: -5vw;
      opacity: 0;
      @include transition(all 800ms cubic-bezier(0.25,0.1,0.25,1));

      &.animated {
        width: get-rem-desktop(81);
        height: get-rem-desktop(90);
        margin-left: get-rem-desktop(-40.5);
        top: get-rem-desktop(20);
        margin-top: 0;
      }

      @media only screen and (max-width: 1366px) {
        width: get-rem-tablet(125);
        height: get-rem-tablet(138.88);
        margin-left: get-rem-tablet(-62.5);
        margin-top: get-rem-tablet(-69.44);

        &.animated {
          width: get-rem-tablet(62);
          height: get-rem-tablet(68.88);
          margin-left: get-rem-tablet(-31);
          top: get-rem-tablet(20);
        }
      }

      @media only screen and (max-width: 768px) {
        width: get-rem-mobile(125);
        height: get-rem-mobile(138.88);
        margin-left: get-rem-mobile(-62.5);
        margin-top: get-rem-mobile(-69.44);

        &.animated {
          width: get-rem-mobile(62);
          height: get-rem-mobile(68.88);
          margin-left: get-rem-mobile(-31);
          top: get-rem-mobile(17);
        }
      }

      @media only screen and (max-width: 950px) and (orientation: landscape) {
        width: get-rem-mobile(125);
        height: get-rem-mobile(138.88);
        margin-left: get-rem-mobile(-62.5);
        margin-top: get-rem-mobile(-69.44);

        &.animated {
          width: get-rem-mobile(42);
          height: get-rem-mobile(46.66);
          margin-left: get-rem-mobile(-21);
        }
      }

      svg {
        fill: $colour-cream;
        transition: width 1s cubic-bezier(0.25,0.1,0.25,1), height 1s cubic-bezier(0.25,0.1,0.25,1);
      }
    }

    .text-wrap {
      opacity: 0;
      transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);
    }

    .opacity-overlay-home {
      transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);
    }

    .down-arrow {
      position: absolute;
      bottom: get-rem-desktop(50);
      left: 50%;
      @include transform(translateX(-50%));
      width: get-rem-desktop(25);
      opacity: 0;
      transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);

      @media only screen and (max-width: 1366px) {
        bottom: get-rem-tablet(50);
        width: get-rem-tablet(20);
      }

      @media only screen and (max-width: 768px) {
        bottom: get-rem-mobile(25);
        width: get-rem-mobile(20);
      }

      svg {
        @include animation(arrowBounce 2s infinite);
      }
    }
  }

  .video-controls {
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);

    &.visible {
      pointer-events: all;
    }
  }

  .text-block {
    padding-top: get-rem-desktop(300);
    background-color: $colour-burgundy;
    color: $colour-cream;

    @media only screen and (max-width: 1366px) {
      padding-top: get-rem-tablet(200);
    }

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(150);
    }

    .text-wrap {
      max-width: get-rem-desktop(846);
  
      @media only screen and (max-width: 1366px) {
        max-width: get-rem-tablet(470);
      }
  
      .heading {
        margin-bottom: get-rem-desktop(20);
  
        @media only screen and (max-width: 1366px) {
          margin-bottom: get-rem-tablet(10);
        }
  
        @media only screen and (max-width: 768px) {
          margin-bottom: get-rem-mobile(10);
        }
      }
    }
  }

  .link-tiles-block {
    padding-top: get-rem-desktop(300);
    padding-bottom: get-rem-desktop(300);
    background-color: $colour-burgundy;
    color: $colour-cream;
    overflow: hidden;

    @media only screen and (max-width: 1366px) {
      padding-top: get-rem-tablet(200);
      padding-bottom: get-rem-tablet(200);
    }

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(150);
      padding-bottom: get-rem-mobile(150);

      .inner-wrap {
        @include flex;
        @include flex-direction(column);
        row-gap: get-rem-mobile(75);
      }
    }

    .tile {
      overflow: hidden;
      
      @media (hover: hover) {
        &:hover {
          img,
          video {
            filter: blur(2px);
          }

          .opacity-overlay {
            opacity: 0.3;
          }

          .link-text {
            h2 {
              font-family: 'Millionaire-Script';
              @include transform(translateY(calc(-0.18em)));
              padding-left: 0.2em;
              padding-right: 0.2em;
            }
          }
        }
      }
    }

    img,
    video {
      will-change: filter;
      @include transition(filter 400ms cubic-bezier(0.25,0.1,0.25,1));
    }

    .opacity-overlay {
      opacity: 0;
      z-index: 1;
      will-change: opacity;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
    }

    .link-text {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }

    a {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    // 2 tiles layout
    &.tiles-2 {
      .tile-1 {
        aspect-ratio: 4 / 3;
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
        margin-top: 16vw;
      }

      .tile-2 {
        aspect-ratio: 3 / 4;
      }
    }

    // 3 tiles layout
    &.tiles-3 {
      .tile-1 {
        aspect-ratio: 4 / 3;
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
        margin-top: 15.5vw;
      }

      .tile-2 {
        aspect-ratio: 3 / 4;
      }

      .tile-3 {
        aspect-ratio: 3 / 4;
        margin-top: 15.5vw;
        margin-right: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
      }
    }

    // 4 tiles layout
    &.tiles-4 {
      .tile-1 {
        aspect-ratio: 3 / 4;
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
        margin-top: 23.5vw;
      }

      .tile-2 {
        aspect-ratio: 3 / 4;
        margin-top: 8vw;
      }

      .tile-3 {
        aspect-ratio: 1 / 1;
      }

      .tile-4 {
        aspect-ratio: 4 / 3;
        margin-top: -16vw;
      }
    }

    // 5 tiles layout
    &.tiles-5 {
      .row-2 {
        margin-top: -16vw;
      }

      .tile-1 {
        aspect-ratio: 3 / 4;
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
        margin-top: 23.5vw;
      }

      .tile-2 {
        aspect-ratio: 3 / 4;
        margin-top: 8vw;
      }

      .tile-3 {
        aspect-ratio: 1 / 1;
      }

      .tile-4 {
        aspect-ratio: 16 / 9;
        margin-top: 24vw;
      }

      .tile-5 {
        aspect-ratio: 4 / 3;
      }
    }

    // 6 tiles layout
    &.tiles-6 {
      .row-2 {
        margin-top: -16vw;
      }

      .tile-1 {
        aspect-ratio: 3 / 4;
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
        margin-top: 23.5vw;
      }

      .tile-2 {
        aspect-ratio: 3 / 4;
        margin-top: 8vw;
      }

      .tile-3 {
        aspect-ratio: 1 / 1;
      }

      .tile-4 {
        aspect-ratio: 16 / 9;
        margin-top: 24vw;
      }

      .tile-5 {
        aspect-ratio: 4 / 3;
      }

      .tile-6 {
        aspect-ratio: 4 / 3;
        margin-top: -4.5vw;
      }
    }

    // 7 tiles layout
    &.tiles-7 {
      .row-2 {
        margin-top: -16vw;
      }

      .tile-1 {
        aspect-ratio: 3 / 4;
        margin-left: get-rem-desktop(-50);
        width: calc(100% + get-rem-desktop(50));
        margin-top: 23.5vw;
      }

      .tile-2 {
        aspect-ratio: 3 / 4;
        margin-top: 8vw;
      }

      .tile-3 {
        aspect-ratio: 1 / 1;
      }

      .tile-4 {
        aspect-ratio: 16 / 9;
        margin-top: 24vw;
      }

      .tile-5 {
        aspect-ratio: 4 / 3;
      }

      .tile-6 {
        aspect-ratio: 1 / 1;
        margin-top: 8vw;
      }
      
      .tile-7 {
        aspect-ratio: 4 / 3;
        margin-top: -4.5vw;
      }
    }

    @media only screen and (max-width: 1366px) {
      // 2 tiles layout
      &.tiles-2 {
        .tile-1 {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }
      }

      // 3 tiles layout
      &.tiles-3 {
        .tile-1 {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }

        .tile-3 {
          margin-right: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }
      }

      // 4 tiles layout
      &.tiles-4 {
        .tile-1 {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }
      }

      // 5 tiles layout
      &.tiles-5 {
        .tile-1 {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }
      }

      // 6 tiles layout
      &.tiles-6 {
        .tile-1 {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }
      }

      // 7 tiles layout
      &.tiles-7 {
        .tile-1 {
          margin-left: get-rem-tablet(-30);
          width: calc(100% + get-rem-tablet(30));
        }
      }
    }

    @media only screen and (max-width: 769px) and (orientation: landscape) {
      // 2 tiles layout
      &.tiles-2 {
        .tile-1 {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }

      // 3 tiles layout
      &.tiles-3 {
        .tile-1 {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }

        .tile-3 {
          margin-right: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }

      // 4 tiles layout
      &.tiles-4 {
        .tile-1 {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }

      // 5 tiles layout
      &.tiles-5 {
        .tile-1 {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }

      // 6 tiles layout
      &.tiles-6 {
        .tile-1 {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }

      // 7 tiles layout
      &.tiles-7 {
        .tile-1 {
          margin-left: get-rem-mobile(-15);
          width: calc(100% + get-rem-mobile(15));
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .tile-1 {
        aspect-ratio: 3 / 4;
      }

      .tile-2 {
        aspect-ratio: 4 / 3;
      }

      .tile-3 {
        aspect-ratio: 1 / 1;
      }

      .tile-4 {
        aspect-ratio: 3 / 4;
      }

      .tile-5 {
        aspect-ratio: 16 / 9;
      }
      
      .tile-6 {
        aspect-ratio: 4 / 3;
      }

      .tile-7 {
        aspect-ratio: 1 / 1;
      }
    }
  }

}

@keyframes arrowBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}