@use '00_mixins' as *;
@use '00_base' as *;

.page-architecture {

  .stacked-media-text-block {
    padding-top: 0;
    // padding-bottom: get-rem-desktop(145);

    // @media only screen and (max-width: 1440px) {
    //   padding-bottom: get-rem-tablet(95);
    // }

    // @media only screen and (max-width: 768px) {
    //   padding-bottom: get-rem-mobile(70);
    // }

    // .media-wrap {
    //   margin-top: 0;
      // margin-bottom: get-rem-desktop(48);

      // @media only screen and (max-width: 1440px) {
      //   margin-bottom: get-rem-tablet(30);
      // }

      // @media only screen and (max-width: 768px) {
      //   margin-bottom: get-rem-mobile(45);
      // }
    // }
  }

  .large-media-text-block {
    .media-wrap {
      margin-right: get-rem-desktop(153);

      @media only screen and (max-width: 1440px) {
        margin-right: get-rem-tablet(110);
      }

      @media only screen and (max-width: 768px) {
        margin-right: 0;
      }
    }
  }

}