@use '00_mixins' as *;
@use '00_base' as *;

.page-carousel {

  .text-block {
    position: relative;
    z-index: 6;
  }

  .full-bleed-media-block,
  .image-masonry-block,
  .cta-banner-block,
  .site-footer {
    position: relative;
    z-index: 10;
  }

}