@use '00_mixins' as *;
@use '00_base' as *;

.page-carousel {

  .text-with-artefacts .text-block {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .text-block {
    position: relative;
    z-index: 6;
    background-color: transparent;
  }

  .full-bleed-media-block,
  .image-masonry-block,
  .cta-banner-block,
  .site-footer {
    position: relative;
    z-index: 10;
  }

}