@use '00_mixins' as *;

/*
LEASING MAP STYLES --------------------
*/

.leasing-map {
  &__tabs {
    @include flex;
  }

  &__tab {
    width: 100%;
    background: $colour-light-purple;
    border-right: 1px solid $colour-burgundy;
    color: $colour-burgundy;
    padding: get-rem-desktop(18);
    cursor: pointer;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    @include transition(all 400ms cubic-bezier(0.25,0.1,0.25,1));
    @include font-size(12px, 15px, 15px);

    @media only screen and (max-width: 1440px) {
      padding: get-rem-tablet(18);
    }

    @media only screen and (max-width: 768px) {
      padding: get-rem-mobile(16);
    }

    &:last-child {
      border-right: none;
    }

    &.active {
      background: rgba($colour-light-purple, 0.5);
    }

    @media (hover: hover) {
      &:hover {
        background: rgba($colour-light-purple, 0.5);
      }
    }
  }

  &__tab-label-desktop {
    display: block;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__tab-label-mobile {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  &__content {
    position: relative;
  }

  &__zoom-controls {
    position: absolute;
    bottom: get-rem-desktop(40);
    right: get-rem-desktop(50);
    z-index: 10;
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(15);

    @media only screen and (max-width: 1440px) {
      bottom: get-rem-tablet(40);
      right: get-rem-tablet(50);
      row-gap: get-rem-tablet(15);
    }

    @media only screen and (max-width: 768px) {
      bottom: get-rem-mobile(17);
      right: get-rem-mobile(15);
      row-gap: get-rem-mobile(6);
    }
  }

  &__zoom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: get-rem-desktop(45);
    height: get-rem-desktop(45);
    cursor: pointer;
    @include transition(all 400ms cubic-bezier(0.25,0.1,0.25,1));
    border-radius: 50px;
    background: rgba($colour-cream, 0.15);
    border: 1px solid rgba($colour-cream, 0.5);

    @media only screen and (max-width: 1440px) {
      width: get-rem-tablet(45);
      height: get-rem-tablet(45);
    }

    @media only screen and (max-width: 768px) {
      width: get-rem-mobile(33);
      height: get-rem-mobile(33);
    }

    &:disabled {
      cursor: not-allowed;
    }

    svg {
      width: get-rem-desktop(22);
      height: get-rem-desktop(22);
      pointer-events: none;
      stroke: $colour-cream;

      @media only screen and (max-width: 1440px) {
        width: get-rem-tablet(22);
        height: get-rem-tablet(22);
      }

      @media only screen and (max-width: 768px) {
        width: get-rem-mobile(16);
        height: get-rem-mobile(16);
      }
    }
  }

  &__panel {
    display: none;

    &.active {
      display: block;
    }

    .media-wrap {
      position: relative;
      overflow: hidden;
      pointer-events: auto;

      img {
        pointer-events: none;
      }

      .tablet,
      .mobile {
        display: none;
      }

      @media screen and (max-width: 1440px) {
        .desktop {
          display: none;
        }

        .tablet {
          display: block;
        }
      }

      @media screen and (max-width: 768px) {
        .tablet {
          display: none;
        }

        .mobile {
          display: block;
        }
      }
    }
  }

  &__base-image {
    @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
  }

  &__hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
    
    &.visible {
      opacity: 1;
    }
  }

  // Clickable Spots
  &__spot {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: get-rem-desktop(40);
    height: get-rem-desktop(40);
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    pointer-events: all;

    @media only screen and (min-width: 1367px) {
      &.hovered {
        .leasing-map__spot-indicator {
          opacity: 1;
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        .leasing-map__spot-indicator {
          opacity: 1;
        }
      }
    }
  }

  &__spot-indicator {
    width: get-rem-desktop(27);
    height: get-rem-desktop(27);
    opacity: 0;
    @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));

    .st0 {
      fill: none;
      stroke: $colour-burgundy;
    }

    .st1 {
      fill: $colour-cream;
    }
  }

  // Popup Styles
  &__popup {
    &.visible {
      .leasing-map__popup-content {
        pointer-events: all !important;
        opacity: 1 !important;
      }
    }

    @media only screen and (max-width: 768px) {
      position: relative;
      display: block;

      &.visible {
        .leasing-map__popup-content {
          display: block !important;
        }
      }
    }
  }

  &__popup-content {
    background-color: $colour-burgundy;
    color: $colour-cream;
    position: absolute;
    top: 50%;
    left: get-rem-desktop(57);
    @include transform(translateY(-50%));
    padding: get-rem-desktop(25) get-rem-desktop(30) get-rem-desktop(30);
    z-index: 9999;
    pointer-events: none;
    will-change: opacity;
    opacity: 0;
    @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));

    @media only screen and (max-width: 1440px) {
      left: get-rem-tablet(30);
      padding: get-rem-tablet(25) get-rem-tablet(30) get-rem-tablet(30);
    }

    @media only screen and (max-width: 768px) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      padding: get-rem-mobile(45) get-rem-mobile(18) get-rem-mobile(18);
      display: none;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__popup-inner {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(95);
    height: 100%;

    @media only screen and (max-width: 1440px) {
      row-gap: get-rem-tablet(135);
    }

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(45);
      height: auto;
    }
  }

  &__popup-text {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(10);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10001;

    @media only screen and (max-width: 1440px) {
      row-gap: get-rem-tablet(10);
    }

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(10);
      height: auto;
    }
  }

  &__popup-title-wrap {
    @include flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    column-gap: get-rem-desktop(30);

    @media only screen and (max-width: 1440px) {
      column-gap: get-rem-tablet(30);
    }

    @media only screen and (max-width: 768px) {
      column-gap: get-rem-mobile(30);
    }

    svg {
      width: get-rem-desktop(20);

      @media only screen and (max-width: 1440px) {
        width: get-rem-tablet(20);
      }

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__popup-title {
    @include font-size(25px, 35px, 35px);
  }

  &__popup-description {
    max-width: get-rem-desktop(150);
    @include font-size(20px, 28px, 28px);

    @media only screen and (max-width: 1440px) {
      max-width: get-rem-tablet(150);
    }

    @media only screen and (max-width: 768px) {
      max-width: get-rem-mobile(110);
    }
  }

  .underline-link {
    margin-top: get-rem-desktop(5);

    @media only screen and (max-width: 1440px) {
      margin-top: get-rem-tablet(8);
    }

    @media only screen and (max-width: 768px) {
      margin-top: get-rem-mobile(5);
    }
  }

  &__popup-media {
    width: get-rem-desktop(440);
    aspect-ratio: 440 / 248;

    @media only screen and (max-width: 1440px) {
      width: get-rem-tablet(365);
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

/*
CONTACT FORM STYLES --------------------
*/

.contact-form-block {
  padding-top: get-rem-desktop(180);
  padding-bottom: get-rem-desktop(180);
  text-align: center;
  background-color: $colour-cream;
  
  @media only screen and (max-width: 1440px) {
    padding-top: get-rem-tablet(144);
    padding-bottom: get-rem-tablet(144);
  }

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(95);
    padding-bottom: get-rem-mobile(90);
  }

  .text-wrap {
    max-width: get-rem-desktop(694);
    margin: 0 auto;
    margin-bottom: get-rem-desktop(82);

    @media only screen and (max-width: 1440px) {
      max-width: get-rem-tablet(426);
      margin-bottom: get-rem-tablet(65);
    }

    @media only screen and (max-width: 768px) {
      max-width: get-rem-mobile(327);
      margin-bottom: get-rem-mobile(90);
    }
  }
}

.spark-registration-form {
  max-width: get-rem-desktop(725);
  margin: 0 auto;

  @media only screen and (max-width: 1440px) {
    max-width: get-rem-tablet(647);
  }

  .form-fields {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(35);

    @media only screen and (max-width: 1440px) {
      row-gap: get-rem-tablet(35);
    }

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(38);
    }
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: get-rem-desktop(25);

    @media only screen and (max-width: 1440px) {
      column-gap: get-rem-tablet(17);
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: get-rem-mobile(38);
    }
  }

  .form-group {
    @include flex;
    @include flex-direction(column);
    text-align: left;

    input,
    select,
    textarea,
    .rs__control,
    .rs__value-container {
      height: get-rem-desktop(27) !important;
      max-height: get-rem-desktop(27) !important;

      @media only screen and (max-width: 1440px) {
        height: get-rem-tablet(21) !important;
        max-height: get-rem-tablet(21) !important;
      }

      @media only screen and (max-width: 768px) {
        height: get-rem-mobile(23) !important;
        max-height: get-rem-mobile(23) !important;
      }
    }

    // Target the React Select container more specifically
    .form-group > div[class*="css-"][class*="container"] {
      height: get-rem-desktop(27) !important;
      max-height: get-rem-desktop(27) !important;

      @media only screen and (max-width: 1440px) {
        height: get-rem-tablet(21) !important;
        max-height: get-rem-tablet(21) !important;
      }

      @media only screen and (max-width: 768px) {
        height: get-rem-mobile(23) !important;
        max-height: get-rem-mobile(23) !important;
      }
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 0 0 get-rem-desktop(5) !important;
      border: none;
      border-bottom: 1px solid $colour-burgundy;
      background: transparent;
      color: $colour-burgundy;

      @media only screen and (max-width: 1440px) {
        padding: 0 0 get-rem-tablet(3) !important;
      }

      @media only screen and (max-width: 768px) {
        padding: 0 0 get-rem-mobile(5) !important;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $colour-burgundy;
      }
    }

    input#leasing_interest {
      width: unset !important;
    }

    textarea {
      resize: none;
    }
  }

  .form-submit {
    text-align: center;
    padding-top: get-rem-desktop(7);

    @media only screen and (max-width: 1440px) {
      padding-top: get-rem-tablet(40);
    }

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(62);
    }
  }

  .rs__control {
    border: none !important;
    border-bottom: 1px solid $colour-burgundy !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    @include flex;
    @include align-items(center);
    min-height: get-rem-desktop(27) !important;
    
    @media only screen and (max-width: 1440px) {
      min-height: get-rem-tablet(21) !important;
    }

    @media only screen and (max-width: 768px) {
      min-height: get-rem-mobile(23) !important;
    }
  }

  .rs__value-container {
    padding: 0 !important;
    @include flex;
    @include align-items(center);
    row-gap: 0.5em;
    column-gap: 0.5em;
  }

  .rs__placeholder {
    color: $colour-burgundy !important;
    margin: 0 !important;
  }

  .rs__input-container {
    color: $colour-burgundy !important;
  }

  .rs__value-container--is-multi--has-value {
    .rs__input-container {
      display: flex !important;
      flex: 1 !important;
      min-width: 100px !important;
    }
    
    .rs__input,
    input[type="text"] {
      display: block !important;
      visibility: visible !important;
    }
  }
  
  .rs__value-container--has-value .css-1s80ejz-dummyInput-DummyInput,
  .rs__value-container--is-multi--has-value .css-1s80ejz-dummyInput-DummyInput {
    display: block !important;
    opacity: 1 !important;
    position: relative !important;
    width: 100px !important;
    height: auto !important;
    visibility: visible !important;
  }
  
  .rs__multi-value-container + .rs__input-container {
    display: flex !important;
    flex: 1 !important;
  }
  
  .rs__multi-value-container {
    align-items: flex-end !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    gap: get-rem-desktop(4) !important;
    flex-wrap: wrap !important;
    min-height: 0 !important;
  }

  .rs__single-value {
    color: $colour-burgundy !important;
  }

  .rs__menu {
    border-radius: 0 !important;
    border: 1px solid $colour-burgundy !important;
    border-top: none !important;
    background: $colour-cream !important;
    box-shadow: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .rs__menu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .rs__option {
    color: $colour-burgundy !important;
    @include transition(all 400ms cubic-bezier(0.25,0.1,0.25,1));
    
    &--is-focused {
      background: rgba($colour-burgundy, 0.1) !important;
      color: $colour-burgundy !important;
    }
    
    &--is-selected {
      background: $colour-burgundy !important;
      color: $colour-cream !important;
    }

    @media (hover: hover) {
      &:hover {
        background: $colour-burgundy !important;
        color: $colour-cream !important;
      }
    }
  }

  .rs__indicators {
    height: fit-content !important;
    max-height: get-rem-desktop(27) !important;
    
    @media only screen and (max-width: 1440px) {
      max-height: get-rem-tablet(21) !important;
    }

    @media only screen and (max-width: 768px) {
      max-height: get-rem-mobile(23) !important;
    }
  }

  .rs__indicator-separator {
    display: none;
  }

  .rs__indicator {
    color: $colour-burgundy !important;
    padding: 0 !important;
    margin-top: 0.5em;
    
    @media (hover: hover) {
      &:hover {
        color: $colour-burgundy !important;
      }
    }
  }

  .rs__indicator.rs__clear-indicator{
    display:none !important;
  }

  .rs__multi-value {
    background: rgba($colour-burgundy, 0.1) !important;
    margin: 0 !important;
  }

  .rs__multi-value__label {
    color: $colour-burgundy !important;
    padding-top: get-rem-desktop(2) !important;
    padding-bottom: get-rem-desktop(1) !important;

    @media only screen and (max-width: 1440px) {
      padding-top: get-rem-tablet(2) !important;
      padding-bottom: get-rem-tablet(1) !important;
    }
  }

  .rs__multi-value__remove:hover {
    background: rgba($colour-burgundy, 0.1) !important;
    color: $colour-burgundy !important;
  }

  .rs__dropdown-indicator {
    svg {
      display: none;
    }
    
    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3e%3cpath d='M0.999999 0.999998L7 7L13 0.999999' stroke='%23581B25'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .submit-button {
    background: transparent;
    color: $colour-burgundy;
    border: 1px solid $colour-burgundy;
    padding: get-rem-desktop(8) get-rem-desktop(20) get-rem-desktop(7);
    cursor: pointer;
    @include transition(all 400ms cubic-bezier(0.25,0.1,0.25,1));

    @media only screen and (max-width: 1440px) {
      padding: get-rem-tablet(8) get-rem-tablet(20) get-rem-tablet(7);
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        background: $colour-burgundy;
        color: $colour-cream;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}